@using Datos.Entidades;

@model List<E_Personal>

@{
    ViewBag.Title = "Index2";
}


@if (TempData["error"] != null)
{
    <div class="alert alert-danger">@TempData["error"]</div>
}
<h1>Personal</h1>
<a class="btn btn-success" href="/Home/IrAgregarPersonal">Agregar Personal</a>

<table class="table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Departamento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Departamento</td>
                <td><a class="btn btn-info" href="/Home/IrAccesoPorPersonal?id=@item.IdPersonal">Ver Actividad</a></td>
            </tr>
        }

    </tbody>
</table>

